@import './variables.scss';

html, body {
	position: relative;
	width: 100%;
	background: $bg-color;
	color: $text-color;
}

body {
	box-sizing: border-box;
	margin: 0;
	background: linear-gradient(150deg, $bg-color 0%, #111 100%);
}

body, p, span {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Poppins', sans-serif;
}

button, a {
	font-family: 'Lato', sans-serif;
}

.inline-icon {
	margin-right: 0.25em;
}

.link.github {
	color: $brand-github-color;
	border-bottom: 2px solid $brand-github-color;

	&:active, &:focus, &:hover, &:focus-visible {
		color: $brand-github-color-alt;
		border-bottom: 2px solid $brand-github-color-alt; 
	}
}
