@import "tailwindcss";

@theme {
  /* Colors */
  --color-border: #D3D1C8;
  --color-accent: #6B3BFF;
}

@theme inline {
  /* Fonts */
  --font-body: var(--font-hanken-grotesk);
  --font-title: var(--font-league-spartan);
}

body {
  font-family: var(--font-hanken-grotesk), sans-serif;
  color: var(--color-black);
}
