$content-horizontal-margin: 10%;

$std-border-radius: 8px;

$bg-color: #1b2a34;
$bg-color-light: #2a4150;
$bg-color-lighter: #38576b;

$text-color: #f2f4f3;

$button-color: $text-color;
$button-border-color: $bg-color-lighter;
$button-bg-color: transparent;
