html {
  --body-bg: #232931;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --box-bg: #282A36;
  --link-color: #8787A3;
  --search-color: #fff;
  --color1: #F38181;
  --color2: #9DD3CC;
  --color3: #D0F9B1;
  --color4: #FFBBE1;
  --color5: #FFA06F;
  --color6: #DBDBEB;
  --color7: #60C7EC;
  --color8: #0060CA;
  --color9: #B793E6;
}