html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--body-bg);
  margin: 0;
}

.container {
  overflow: auto;
  padding: 10px;
}

.shadow {
  border: 2px solid var(--shadow-color);
  box-shadow: 0 0 13px 0 var(--shadow-color);
}

.search-bar {
  background-color: var(--box-bg);
  padding: 10px;
  width: 75%;
  margin: 1.5rem 12.5%;
  opacity: 0.9;
  transition: 0.2s ease;
}

.search-bar form {
  background-color: var(--body-bg);
  border-radius: 3px;
}


input[type="text"] {
  width: 100%;
  border: none;
  cursor: default;
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
  transition: 0.2s ease;
  text-align: center;
  background: transparent;
  font-size: 30pt;
  color: var(--search-color);
}

input[type="text"]:focus {
  opacity: 1.0;
  box-shadow: 0 0 0 0;
  outline: none;
}

.links-container {
  width: 65%;
  margin: 0 17.5%;
  background-color: var(--box-bg);
  overflow: auto;
  font-family: 'Varela Round', sans-serif;
  font-size: 10pt;
}

.links-section {
  margin: 10px;
  display: flex;
}

.link-list a {
  text-decoration: none;
  padding-right: 10px;
  color: var(--link-color);
}

.link-list {
  display: block;
  width: 100%;
  padding-left: 15px;
  text-align: justify;
}

.label {
  display: inline-block;
  width: 15ch;
}

.featured, .featured a:hover {
  color: var(--color1);
}

.featured .link-list {
  border-left: solid 2px var(--color1);
}

.social, .social a:hover{
  color: var(--color2);
}

.social .link-list {
  border-left: solid 2px var(--color2);
}

.work, .work a:hover {
  color: var(--color3);
}

.work .link-list {
  border-left: solid 2px var(--color3);
}

.school, .school a:hover {
  color: var(--color4);
}

.school .link-list {
  border-left: solid 2px var(--color4);
}

.fun, .fun a:hover {
  color: var(--color5);
}

.fun .link-list {
  border-left: solid 2px var(--color5);
}

.games, .games a:hover {
  color: var(--color6);
}

.games .link-list {
  border-left: solid 2px var(--color6);
}

.downloads, .downloads a:hover {
  color: var(--color7);
}

.downloads .link-list {
  border-left: solid 2px var(--color7);
}

.learning, .learning a:hover {
  color: var(--color8);
}

.learning .link-list {
  border-left: solid 2px var(--color8);
}

.greencoast, .greencoast a:hover {
  color: var(--color9);
}

.greencoast .link-list {
  border-left: solid 2px var(--color9);
}